<launch>
   <arg name="odom_input" default="true"/>

   <!-- Topic remapping arguments -->
   <arg name="gt_input_topic" default="/mocap/pose"/>
   <arg name="robot_pose_topic" default="/mavros/local_position/pose"/>
   <arg name="gt_viz_topic" default="groundtruth_pose_hist"/>
   <arg name="robot_viz_topic" default="robot_pose_hist"/>
   
   <!-- Ground Truth Visualizer Node -->
   <node name="ground_truth_visualizer" pkg="rsun_state_estimation" type="ground_truth_visualizer.py" output="screen">
      <!-- Flag to determine input message type (true for Odometry, false for PoseStamped) -->
      <param name="odom_input" value="$(arg odom_input)"/>
      
      <!-- Inputs -->
      <remap from="/mocap/pose" to="$(arg gt_input_topic)"/>
      <remap from="/mavros/local_position/pose" to="$(arg robot_pose_topic)"/>
      <!-- Outputs -->
      <remap from="groundtruth_pose_hist" to="$(arg gt_viz_topic)"/>
      <remap from="robot_pose_hist" to="$(arg robot_viz_topic)"/>
   </node>
</launch>
