<?xml version="1.0"?>
<launch>
   <node pkg="rsun_state_estimation" type="mavros_vio_bridge.py" name="mavros_vio_bridge">
      <!-- Input from MSO -->
      <remap from="/mso_estimator/odometry" to="/mso_estimator/odometry"/>
      <remap from="/mso_estimator/imu_propagate" to="/mso_estimator/imu_propagate"/>
      <!-- Output to MAVROS -->
      <remap from="/mavros/vision_pose/pose" to="/mavros/vision_pose/pose"/>
      
      <param name="send_to_mav" value="true"/>
      <param name="use_pre_int" value="true"/>
      
      


   </node>

   <node pkg="tf" type="static_transform_publisher" name="mso_odom_tf" args="0.0 0.0 0.0 3.14159 0 0 odom cmu_rc7_sensor_init 100" />

   <node pkg="tf" type="static_transform_publisher" name="world_odom_tf" args="0.0 0.0 -0.52 0 0 0 world odom 100" />
</launch>